@import "tailwindcss";
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 8s ease-in-out infinite;
}
/* For animated underline effect */
a.relative span:last-child {
  transition: transform 0.3s;
}
a.relative:hover span:last-child {
  transform: scaleX(1);
}
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 8s ease-in-out infinite;
}



@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  display: inline-block;
  padding-left: 100%;
}



